<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nature for Future</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/script/script.js" defer></script>
</head>
<body>
<div class="other-Page">
    <button class="Nav-bar-icon">
        <img src="https://img.icons8.com/?size=50&id=120374&format=png" alt="" class="Nav-bar-icon-image">
    </button>
    <div class="Nav-bar-wrapper">
        <a href="/templates/index.html"><img src="/Logo/Frame%203.svg" alt="Nature for Future" class="Home-Logo"></a>
        <div class="Nav-bar">
            <div class="Nav-bar-content-holder"><a href="/templates/about.html" class="Nav-bar-content">About</a></div>
            <div class="Nav-bar-content-holder"><a href="/templates/events.html" class="Nav-bar-content">Events</a></div>
            <div class="Nav-bar-content-holder"><a href="/templates/commnity.html" class="Nav-bar-content">Community Forums</a></div>
            <div class="Nav-bar-content-holder"><a href="/templates/donation.html" class="Nav-bar-content">Donation Opportunities</a></div>
        </div>
    </div>
</div>
<div class="Outer">
    <div class="Inner">

    </div>
</div>
</body>
</html>
